* {
  margin: 0;
  padding: 0; }

html body {
  background-image: url("../documentInfuze/background.jpg");
  background-repeat: no-repeat;
  background-size: 420px 600px; }
  html body #header {
    margin: 2px 10px;
    width: 400px;
    clear: both; }
    html body #header ul {
      list-style: none;
      float: left;
      width: 400px; }
    html body #header #pass {
      height: 60px;
      background-image: url("../documentInfuze/top_noir.png");
      background-repeat: no-repeat; }
      html body #header #pass li {
        display: inline;
        float: left;
        margin-bottom: 0px;
        margin-left: 10px;
        margin-top: 7px;
        list-style: none; }
      html body #header #pass a {
        text-decoration: none;
        float: left;
        cursor: pointer;
        text-decoration: none;
        position: absolute;
        display: block;
        margin: 0;
        padding: 0;
        text-indent: -5000px; }
      html body #header #pass span {
        margin: 0 10px 0 10px;
        padding: 9px 7px 3px 18px;
        position: relative;
        float: left; }
      html body #header #pass .vip {
        left: 105px;
        color: white;
        font-size: 1.3em; }
        html body #header #pass .vip:after {
          content: "VIP";
          font-weight: bold; }
      html body #header #pass .titre {
        left: 75px;
        color: white;
        font-size: 1.3em; }
      html body #header #pass .retour {
        width: 100px;
        height: 64px;
        background-image: url("../documentInfuze/bouton_retour.png");
        background-repeat: no-repeat; }
      html body #header #pass .map {
        width: 150px;
        height: 48px;
        left: 252px;
        top: 10px;
        background-image: url("../documentInfuze/bouton_list_map.png");
        background-repeat: no-repeat; }
      html body #header #pass .valider {
        width: 93px;
        height: 48px;
        left: 300px;
        background-image: url("../documentInfuze/bouton_valider.png");
        background-repeat: no-repeat; }
      html body #header #pass .map {
        width: 150px;
        height: 50px;
        left: 247px;
        top: 13px;
        background-image: url("../documentInfuze/bouton_list_map.png");
        background-repeat: no-repeat; }
      html body #header #pass .modifier {
        width: 93px;
        height: 48px;
        left: 290px;
        background-image: url("../documentInfuze/bouton_modifier.png");
        background-repeat: no-repeat; }
      html body #header #pass .ajouter {
        width: 120px;
        height: 48px;
        left: 272px;
        background-image: url("../documentInfuze/bouton_ajout_carte.png");
        background-repeat: no-repeat;
        background-position: 0px 6px; }
  html body .class {
    margin: 0 10px;
    position: relative;
    clear: both;
    width: 400px; }
    html body .class #logo {
      background-image: url("../documentInfuze/fond_coordonee.png");
      background-repeat: no-repeat;
      background-size: 390px 47px;
      background-position: 0 5px;
      margin-bottom: 7px;
      margin-left: 5px;
      width: 390px;
      height: 50px;
      border-radius: 10px 10px 0 0; }
    html body .class #popup {
      width: 400px;
      list-style: none; }
      html body .class #popup li:nth-child(1) {
        line-height: 71px; }
      html body .class #popup li:nth-child(2) {
        line-height: 49px; }
      html body .class #popup li {
        width: 400px;
        color: white;
        font-size: 1.1em; }
        html body .class #popup li span {
          display: inline-block; }
        html body .class #popup li:nth-child(1) {
          padding-left: 90px;
          float: left;
          background-image: url("../documentInfuze/contact_icon.png");
          background-repeat: no-repeat;
          background-position: 20px 6px;
          background-height: 75px; }
        html body .class #popup li:nth-child(2) {
          text-indent: -5000px;
          float: left;
          background-image: url("../documentInfuze/selection.png");
          background-repeat: no-repeat; }
    html body .class .etape {
      clear: both;
      font-size: 20px;
      font-weight: bold;
      width: 399px;
      height: 30px;
      line-height: 1.8em;
      text-align: center;
      background-image: url("../documentInfuze/bar_blanche.png");
      background-repeat: no-repeat; }
    html body .class .lier {
      position: relative;
      float: left;
      margin: 10px;
      left: 14px; }
    html body .class .slogan,
    html body .class .slogan2,
    html body .class .slogan3 {
      color: white;
      font-size: 20px;
      font-weight: bold;
      line-height: 3em; }
    html body .class .slogan {
      text-align: center; }
    html body .class .slogan2 {
      background-image: url("../documentInfuze/fleche_selection.png");
      background-repeat: no-repeat;
      background-position: 277px 6px; }
    html body .class .slogan3 {
      height: 60px;
      background-image: url("../documentInfuze/fleche_mot.png");
      background-repeat: no-repeat;
      background-position: 110px 7px; }
      html body .class .slogan3 span {
        float: right; }
    html body .class .temps {
      background-image: url("../documentInfuze/fond_recherche.png");
      background-repeat: no-repeat;
      height: 55px; }
      html body .class .temps div {
        width: 130px;
        height: 50px;
        float: left;
        line-height: 3em;
        margin-bottom: 2px;
        margin-left: 0.5px;
        margin-right: 0.5px;
        margin-top: 2px; }
        html body .class .temps div span {
          font-size: 15px; }
        html body .class .temps div:nth-child(1) {
          background-image: url("../documentInfuze/bouton_temps_presse.png");
          background-repeat: no-repeat;
          color: #bac4cb; }
          html body .class .temps div:nth-child(1) span {
            margin-left: 14px;
            float: left; }
        html body .class .temps div:nth-child(2) {
          width: 135px;
          background-image: url("../documentInfuze/bouton_temps_releve.png");
          background-repeat: no-repeat;
          background-size: 135px 50px;
          color: #73849c; }
          html body .class .temps div:nth-child(2) span {
            margin-left: 6px; }
        html body .class .temps div:nth-child(3) {
          border-radius: 0px 11px 11px 0px;
          margin-right: 0px;
          color: #73849c;
          background-image: url("../documentInfuze/bouton_temps_releve.png");
          background-repeat: no-repeat; }
          html body .class .temps div:nth-child(3) span {
            float: left;
            margin-left: 14px; }
    html body .class .bon_plan {
      width: 350px;
      height: 50px;
      position: relative;
      left: 105px;
      height: 100px;
      background-image: url("../documentInfuze/accroche.png");
      background-repeat: no-repeat; }
    html body .class #formulaire {
      width: 400px; }
      html body .class #formulaire .slogan {
        color: white;
        font-size: 20px;
        font-weight: bold;
        line-height: 2em;
        text-align: center; }
      html body .class #formulaire input {
        width: 390px;
        border: none;
        border-radius: 8px;
        height: 43px;
        margin-top: 1px;
        margin-bottom: 1px;
        margin-left: 5px; }
    html body .class #scanner {
      padding-top: 5px;
      width: 400px;
      list-style: none;
      float: left;
      background-image: url("../documentInfuze/fond_parainage.png");
      background-repeat: no-repeat;
      background-size: 400px 250px;
      margin-bottom: 5px; }
      html body .class #scanner span {
        font-weight: bold;
        float: left;
        text-indent: 180px; }
      html body .class #scanner div {
        width: 370px;
        height: 65px;
        float: left; }
        html body .class #scanner div a span {
          font-weight: bold;
          color: white;
          font-size: 18px;
          text-indent: inherit; }
        html body .class #scanner div:nth-child(1) {
          background-image: url("../documentInfuze/bouton_scanner_carte.png");
          background-repeat: no-repeat;
          background-position: 17px 5px; }
          html body .class #scanner div:nth-child(1) a span {
            margin-left: 113px;
            margin-top: 20px; }
        html body .class #scanner div:last-child {
          background-image: url("../documentInfuze/bouton_validation.png");
          background-repeat: no-repeat;
          background-position: 17px 5px; }
          html body .class #scanner div:last-child a span {
            margin-left: 153px;
            margin-top: 20px; }
      html body .class #scanner input {
        width: 354px;
        float: left;
        border: none;
        border-radius: 8px;
        box-shadow: 1px 2px 6px inset;
        text-indent: 8px;
        height: 43px;
        margin-top: 10px;
        margin-bottom: 15px;
        margin-left: 15px; }
      html body .class #scanner li {
        height: 70px; }
        html body .class #scanner li div {
          float: left;
          position: relative;
          height: 55px;
          background-image: url("../documentInfuze/bouton_scanner_carte.png");
          background-repeat: no-repeat;
          background-position: 19px 5px; }
    html body .class #formulaire_reconnexion {
      float: left; }
      html body .class #formulaire_reconnexion span {
        line-height: 1.2em;
        color: white; }
      html body .class #formulaire_reconnexion .complement {
        background-color: white;
        border-radius: 10px;
        margin-bottom: 15px; }
        html body .class #formulaire_reconnexion .complement div {
          width: 380px;
          display: block;
          height: 41px; }
          html body .class #formulaire_reconnexion .complement div input {
            border: none;
            margin-left: 15px;
            margin-top: 5px;
            width: 290px;
            height: 35px; }
      html body .class #formulaire_reconnexion span a {
        color: white; }
      html body .class #formulaire_reconnexion .validation div {
        margin-top: 15px;
        margin-left: 17px;
        margin-bottom: 15px; }
    html body .class #formulaire_inscription {
      width: 395px; }
      html body .class #formulaire_inscription .genre {
        height: 50px;
        margin-bottom: 10px;
        margin-top: 10px; }
        html body .class #formulaire_inscription .genre input {
          width: 140px;
          float: left;
          left: 57px;
          position: relative; }
      html body .class #formulaire_inscription .information {
        height: 97px;
        width: 400px;
        background-image: url("../documentInfuze/formulaire.png");
        background-repeat: no-repeat;
        background-size: 400px 98px;
        margin-bottom: 16px;
        border-radius: 10px; }
        html body .class #formulaire_inscription .information input {
          width: 253px;
          height: 40px;
          left: 57px;
          border: none;
          margin-bottom: 2px;
          margin-top: 2px;
          margin-left: 93px; }
      html body .class #formulaire_inscription .complement {
        background-color: white;
        border-radius: 10px;
        margin-bottom: 15px; }
        html body .class #formulaire_inscription .complement div {
          width: 380px;
          display: block; }
          html body .class #formulaire_inscription .complement div input {
            border: none;
            margin-left: 95px;
            margin-top: 5px;
            width: 290px;
            height: 35px; }
          html body .class #formulaire_inscription .complement div:nth-child(1) {
            background-image: url("../documentInfuze/contact.png");
            background-repeat: no-repeat;
            background-size: 62px 40px; }
          html body .class #formulaire_inscription .complement div:nth-child(2) {
            background-image: url("../documentInfuze/password.png");
            background-repeat: no-repeat; }
          html body .class #formulaire_inscription .complement div:nth-child(3) {
            background-image: url("../documentInfuze/birthday.png");
            background-repeat: no-repeat; }
          html body .class #formulaire_inscription .complement div:nth-child(4) {
            background-image: url("../documentInfuze/loupe.png");
            background-repeat: no-repeat; }
          html body .class #formulaire_inscription .complement div:nth-child(5) {
            border-radius: 0 0 0 10px;
            background-image: url("../documentInfuze/telephone.png");
            background-repeat: no-repeat;
            background-size: 62px 40px; }
      html body .class #formulaire_inscription .validation {
        width: 400px; }
        html body .class #formulaire_inscription .validation div {
          background-image: url("../documentInfuze/bouton_validation.png");
          background-repeat: no-repeat;
          margin-top: 5px;
          margin-left: 17px;
          width: 400px;
          height: 50px; }
          html body .class #formulaire_inscription .validation div a span {
            line-height: 2.6em;
            font-size: 20px;
            font-weight: bold;
            margin-left: 130px; }
        html body .class #formulaire_inscription .validation span {
          margin-left: 17px;
          color: white; }
          html body .class #formulaire_inscription .validation span a {
            text-decoration: none;
            font-weight: bold;
            color: white; }
    html body .class #message ul {
      list-style: none; }
      html body .class #message ul li {
        background-image: url("../documentInfuze/fond_coordonee.png");
        background-repeat: no-repeat;
        height: 70px; }
        html body .class #message ul li div {
          float: left;
          position: relative;
          background-image: url("../documentInfuze/.png");
          background-repeat: no-repeat; }
          html body .class #message ul li div div {
            float: left;
            left: 95px;
            width: 290px;
            height: 70px;
            background-image: url("../documentInfuze/fleche_no_active.png");
            background-repeat: no-repeat;
            background-position: 275px 22px; }
            html body .class #message ul li div div h3 {
              background-color: #3366cc;
              color: white;
              display: inline-block; }
            html body .class #message ul li div div .soustitre {
              font-weight: bold;
              width: 300px; }
            html body .class #message ul li div div span {
              float: left; }
    html body .class #carte {
      width: 375px;
      margin-top: -12px;
      float: left; }
      html body .class #carte ul {
        list-style: none; }
        html body .class #carte ul li {
          border-radius: 20px 20px 0px 0px;
          background-image: url("../documentInfuze/fond_coordonee.png");
          background-repeat: no-repeat;
          height: 70px;
          margin-bottom: 10px; }
          html body .class #carte ul li div {
            height: 70px;
            border-bottom: solid white; }
            html body .class #carte ul li div div {
              margin-left: 95px;
              width: 273px;
              height: 70px;
              background-image: url("../documentInfuze/fleche_no_active.png");
              background-repeat: no-repeat;
              background-position: 245px 22px; }
              html body .class #carte ul li div div .soustitre {
                color: black;
                font-weight: bold;
                font-size: 20px;
                line-height: 3em; }
    html body .class #profil {
      width: 400px;
      float: left; }
      html body .class #profil ul {
        list-style: none; }
        html body .class #profil ul li {
          background-image: url("../documentInfuze/fond_coordonee.png");
          background-repeat: no-repeat;
          height: 70px;
          margin-bottom: 1px;
          margin-top: 1px; }
          html body .class #profil ul li div {
            text-indent: 15px;
            width: 400px;
            height: 70px;
            background-image: url("../documentInfuze/fleche_no_active.png");
            background-repeat: no-repeat;
            background-position: 376px 26px; }
            html body .class #profil ul li div a {
              text-decoration: none;
              position: absolute;
              display: block;
              height: 64px;
              width: 400px;
              margin: 0;
              padding: 0; }
              html body .class #profil ul li div a .soustitre {
                color: black;
                font-weight: bold;
                font-size: 17px;
                line-height: 4em; }
    html body .class #recherche {
      width: 400px;
      height: 53px;
      margin-bottom: 10px;
      background-image: url("../documentInfuze/fond_recherche.png");
      background-repeat: no-repeat; }
      html body .class #recherche input {
        display: inline; }
        html body .class #recherche input:nth-child(1) {
          text-indent: 45px;
          font-size: 14px;
          background-image: url("../documentInfuze/icon_recherche.png");
          background-repeat: no-repeat;
          background-position: 10px 8px;
          border: none;
          border-radius: 20px;
          box-shadow: 1px 3px 4px #707070 inset;
          width: 375px;
          height: 38px;
          margin-left: 10px;
          margin-top: 7px; }
        html body .class #recherche input:nth-child(2) {
          float: left;
          left: 342px;
          top: -32px;
          position: relative; }
    html body .class #alphabet {
      width: 20px;
      height: 335px;
      float: right;
      background-image: url("../documentInfuze/liste_alphabetique.png");
      background-repeat: no-repeat; }
    html body .class #content {
      width: 400px; }
      html body .class #content div ul li a {
        text-decoration: none;
        color: black; }
      html body .class #content .icon {
        height: 100px;
        margin-top: 20px;
        margin-bottom: 5px;
        background-image: url("../documentInfuze/fond_parainage.png");
        background-repeat: no-repeat; }
        html body .class #content .icon a {
          text-decoration: none;
          float: left;
          text-indent: -5000px;
          width: 400px;
          height: 90px;
          background-image: url("../documentInfuze/parainage.png");
          background-repeat: no-repeat;
          background-position: 14px 10px; }
      html body .class #content .choix {
        background: inherit;
        width: 400px;
        margin-bottom: 3px; }
        html body .class #content .choix ul {
          list-style: none;
          background-image: url("../documentInfuze/fond_coordonee.png");
          background-repeat: no-repeat; }
          html body .class #content .choix ul li {
            background-position: 6px 6px;
            height: 62px; }
            html body .class #content .choix ul li div {
              height: 50px;
              line-height: 3.5em;
              background-image: url("../documentInfuze/fleche.png");
              background-repeat: no-repeat;
              background-position: 370px 18px; }
              html body .class #content .choix ul li div span {
                text-align: center;
                display: inline-block;
                font-size: 15px;
                font-weight: bold;
                margin-left: 65px; }
        html body .class #content .choix:nth-child(1) ul li {
          background-image: url("../documentInfuze/icon_facebook.png");
          background-repeat: no-repeat; }
        html body .class #content .choix:nth-child(2) ul li {
          background-image: url("../documentInfuze/ico_contact.png");
          background-repeat: no-repeat; }
        html body .class #content .choix:nth-child(3) ul li {
          background-image: url("../documentInfuze/courier.png");
          background-repeat: no-repeat; }
  html body #Etape_choix div,
  html body #Etape_recherche div,
  html body #Etape_choix_notif div {
    width: 400px;
    margin-bottom: 3px; }
    html body #Etape_choix div ul,
    html body #Etape_recherche div ul,
    html body #Etape_choix_notif div ul {
      list-style: none;
      background-image: url("../documentInfuze/fond_coordonee.png");
      background-repeat: no-repeat; }
      html body #Etape_choix div ul li,
      html body #Etape_recherche div ul li,
      html body #Etape_choix_notif div ul li {
        background-position: 8px 3px; }
        html body #Etape_choix div ul li div,
        html body #Etape_recherche div ul li div,
        html body #Etape_choix_notif div ul li div {
          height: 50px; }
          html body #Etape_choix div ul li div span,
          html body #Etape_recherche div ul li div span,
          html body #Etape_choix_notif div ul li div span {
            text-align: center;
            display: inline-block;
            font-size: 20px;
            font-weight: bold;
            line-height: 2.6em;
            margin-left: 65px; }
  html body #Etape_choix div div:nth-child(1) ul li,
  html body #Etape_choix .choix div:nth-child(1) ul li,
  html body #Etape_recherche div div:nth-child(1) ul li,
  html body #Etape_recherche .choix div:nth-child(1) ul li,
  html body #Etape_choix_notif div div:nth-child(1) ul li,
  html body #Etape_choix_notif .choix div:nth-child(1) ul li {
    background-image: url("../documentInfuze/vigniette_resto.png");
    background-repeat: no-repeat; }
  html body #Etape_choix div div:nth-child(2) ul li,
  html body #Etape_choix .choix div:nth-child(2) ul li,
  html body #Etape_recherche div div:nth-child(2) ul li,
  html body #Etape_recherche .choix div:nth-child(2) ul li,
  html body #Etape_choix_notif div div:nth-child(2) ul li,
  html body #Etape_choix_notif .choix div:nth-child(2) ul li {
    background-image: url("../documentInfuze/vigniette_achat.png");
    background-repeat: no-repeat; }
  html body #Etape_choix div div:nth-child(3) ul li,
  html body #Etape_choix .choix div:nth-child(3) ul li,
  html body #Etape_recherche div div:nth-child(3) ul li,
  html body #Etape_recherche .choix div:nth-child(3) ul li,
  html body #Etape_choix_notif div div:nth-child(3) ul li,
  html body #Etape_choix_notif .choix div:nth-child(3) ul li {
    background-image: url("../documentInfuze/vigniette_sante.png");
    background-repeat: no-repeat; }
  html body #Etape_choix div div:nth-child(4) ul li,
  html body #Etape_choix .choix div:nth-child(4) ul li,
  html body #Etape_recherche div div:nth-child(4) ul li,
  html body #Etape_recherche .choix div:nth-child(4) ul li,
  html body #Etape_choix_notif div div:nth-child(4) ul li,
  html body #Etape_choix_notif .choix div:nth-child(4) ul li {
    background-image: url("../documentInfuze/valider_services.png");
    background-repeat: no-repeat; }
  html body #Etape_choix div div:nth-child(5) ul li,
  html body #Etape_choix .choix div:nth-child(5) ul li,
  html body #Etape_recherche div div:nth-child(5) ul li,
  html body #Etape_recherche .choix div:nth-child(5) ul li,
  html body #Etape_choix_notif div div:nth-child(5) ul li,
  html body #Etape_choix_notif .choix div:nth-child(5) ul li {
    background-image: url("../documentInfuze/vigniette_auto.png");
    background-repeat: no-repeat; }
  html body #Etape_choix div div:nth-child(6) ul li,
  html body #Etape_choix .choix div:nth-child(6) ul li,
  html body #Etape_recherche div div:nth-child(6) ul li,
  html body #Etape_recherche .choix div:nth-child(6) ul li,
  html body #Etape_choix_notif div div:nth-child(6) ul li,
  html body #Etape_choix_notif .choix div:nth-child(6) ul li {
    background-image: url("../documentInfuze/vigniette_hotel.png");
    background-repeat: no-repeat; }
  html body #Etape_choix div div:nth-child(7) ul li,
  html body #Etape_choix .choix div:nth-child(7) ul li,
  html body #Etape_recherche div div:nth-child(7) ul li,
  html body #Etape_recherche .choix div:nth-child(7) ul li,
  html body #Etape_choix_notif div div:nth-child(7) ul li,
  html body #Etape_choix_notif .choix div:nth-child(7) ul li {
    background-image: url("../documentInfuze/vigniette_maison.png");
    background-repeat: no-repeat; }
  html body #Etape_choix div ul li div,
  html body #Etape_choix_notif div ul li div {
    background-image: url("../documentInfuze/bouton_on.png");
    background-repeat: no-repeat;
    background-position: 293px 7px; }
  html body #Etape_choix .enseigne,
  html body #Etape_choix_notif .enseigne {
    color: white;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline-block;
    text-indent: 30px; }
  html body #Etape_choix .notif ul li div,
  html body #Etape_choix_notif .notif ul li div {
    background-image: url("../documentInfuze/bouton_off.png");
    background-repeat: no-repeat; }
    html body #Etape_choix .notif ul li div span,
    html body #Etape_choix_notif .notif ul li div span {
      font-size: 14px;
      line-height: 3.4em;
      text-indent: -34px; }
  html body #Etape_recherche div ul li div {
    background-image: url("../documentInfuze/fleche.png");
    background-repeat: no-repeat;
    background-position: 375px 18px; }
    html body #Etape_recherche div ul li div a {
      text-decoration: none;
      color: black; }
      html body #Etape_recherche div ul li div a p {
        margin-left: 345px;
        margin-top: 18px; }
  html body #carnet {
    float: left;
    clear: both;
    height: auto;
    padding-bottom: 5px;
    background: white; }
    html body #carnet ul li:last-child {
      margin-bottom: 3px; }
    html body #carnet ul li {
      background-image: url("../documentInfuze/fond_coordonee.png");
      background-repeat: no-repeat;
      list-style: none;
      text-align: center;
      float: left;
      width: 400px;
      clear: both; }
      html body #carnet ul li div {
        height: 50px;
        background-image: url("../documentInfuze/bouton_on.png");
        background-repeat: no-repeat;
        background-position: 293px 7px; }
      html body #carnet ul li span {
        padding: 2px;
        margin: 3px; }
      html body #carnet ul li .adress {
        line-height: 0.5em;
        width: 200px;
        float: left; }
      html body #carnet ul li .nom {
        line-height: 0.5em;
        width: 200px;
        color: #6495ed;
        font-weight: bold;
        font-size: 0.9em;
        float: left; }
  html body #banniere {
    height: 280px;
    width: 400px;
    margin-left: 10px;
    clear: both;
    background-image: url("../documentInfuze/connexion.png");
    background-repeat: no-repeat; }
  html body #connexion {
    width: 400px;
    clear: both;
    background-image: url("../documentInfuze/fond_connexion.png");
    background-repeat: no-repeat; }
    html body #connexion ul {
      list-style: none; }
      html body #connexion ul li {
        clear: both;
        width: 400px;
        height: 65px;
        padding-top: 32px;
        margin-left: 22px; }
        html body #connexion ul li a {
          text-decoration: none; }
        html body #connexion ul li div {
          height: 65px;
          text-indent: -5000px; }
      html body #connexion ul li:nth-child(1) div {
        background-image: url("../documentInfuze/bouton_facebook.png");
        background-repeat: no-repeat; }
      html body #connexion ul li:nth-child(2) {
        padding-top: 5px; }
        html body #connexion ul li:nth-child(2) div {
          background-image: url("../documentInfuze/bouton_inscrir_connexion.png");
          background-repeat: no-repeat; }
      html body #connexion ul li:last-child {
        padding-top: 5px;
        padding-bottom: 10px; }
        html body #connexion ul li:last-child div {
          background-image: url("../documentInfuze/bouton_connecter.png");
          background-repeat: no-repeat; }
  html body #condition_general div {
    background-image: url("../documentInfuze/fond_partage.png");
    background-repeat: no-repeat;
    background-size: 400px 300px;
    width: 400px;
    height: 300px; }
    html body #condition_general div p {
      font-size: 18px;
      color: #5e5e5e;
      padding: 15px; }
  html body #Etape_lier_compte {
    width: 400px;
    height: 320px;
    float: left;
    position: relative;
    margin-bottom: 25px; }
    html body #Etape_lier_compte div {
      background-image: url("../documentInfuze/fond_partage.png");
      background-repeat: no-repeat;
      width: 400px;
      height: 300px; }
      html body #Etape_lier_compte div div.facebook {
        float: left;
        background-image: url("../documentInfuze/icon_facebook.png");
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        margin-right: 17px;
        margin-top: 17px;
        margin-left: 20px;
        margin-bottom: 3px; }
      html body #Etape_lier_compte div div.bouton {
        background-image: url("../documentInfuze/bouton_validation.png");
        background-repeat: no-repeat;
        background-size: 325px 50px;
        background-position: 28px 0px;
        margin-top: 15px; }
        html body #Etape_lier_compte div div.bouton span {
          color: white;
          font-weight: bold;
          margin-left: 67px;
          line-height: 2.6em; }
      html body #Etape_lier_compte div p {
        font-size: 20px;
        color: #5e5e5e;
        padding: 15px; }
  html body #footer {
    width: 400px;
    clear: both;
    float: left;
    height: 70px;
    background-image: url("../documentInfuze/footer.png");
    background-repeat: no-repeat;
    background-position: 0px 0px; }
    html body #footer ul {
      height: 70px; }
      html body #footer ul li {
        list-style: none;
        display: inline;
        margin: 0;
        padding: 0; }
        html body #footer ul li a {
          text-decoration: none;
          position: absolute;
          display: block;
          height: 64px;
          width: 80px;
          margin: 0;
          padding: 0; }
        html body #footer ul li span {
          text-indent: -5000px;
          display: inline-block; }
      html body #footer ul .carte a {
        left: 86px; }
        html body #footer ul .carte a:active {
          background-image: url("../documentInfuze/icon_carte.png");
          background-repeat: no-repeat;
          background-position: 5px 2px; }
      html body #footer ul .compte a {
        left: 167px; }
        html body #footer ul .compte a:active {
          background-image: url("../documentInfuze/icon_contact.png");
          background-repeat: no-repeat;
          background-position: 5px 2px; }
      html body #footer ul .lieu a {
        left: 247px; }
        html body #footer ul .lieu a:active {
          background-image: url("../documentInfuze/.png");
          background-repeat: no-repeat;
          background-position: 5px 2px; }
      html body #footer ul .scan a {
        left: 329px; }
        html body #footer ul .scan a:active {
          background-image: url("../documentInfuze/icon_scan.png");
          background-repeat: no-repeat; }
      html body #footer ul .message a:active {
        background-image: url("../documentInfuze/icon_message.png");
        background-repeat: no-repeat;
        background-position: 5px 2px; }
