!!! Strict
%html{xmlns: "http://www.w3.org/1999/xhtml", lang: "fr", "xml:lang" => "fr"}
  %head
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}
    %meta{name: "title", content: "montagne-neige"}
    %meta{name: "autor", content: "Soumia ADJIR"}
    %meta{name: "description", content: "Une avanche d'info sur les montagnes"}
    %meta{name: "keybords", content:""}

    %link{rel: "stylesheet", href: "css/style.css", type: "text/css"}

  %body
    #header
      %ul#pass
        %li
          %span.vip
            Pass
    .class

      #home
        %span.home
          Trouvez tous les bons plans

        %div.ici
          %a{href: "#"}
            %span
              Près d'ici
        %div.compte
          %a{href: "pages/compte.html"}
            %span
              Mon compte
        %div.message
          %a{href: "pages/message.html"}
            %span
              Messages
        %div.cartes
          %a{href: "pages/cartes.html"}
            %span
              Mes cartes
        %div.scan
          %a{href: "pages/carnet_carte.html"}
            %span
              Scan QR
