!!! Strict
%html{xmlns: "http://www.w3.org/1999/xhtml", lang: "fr", "xml:lang" => "fr"}
  %head
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}
    %meta{name: "title", content: "montagne-neige"}
    %meta{name: "autor", content: "Soumia ADJIR"}
    %meta{name: "description", content: "Une avanche d'info sur les montagnes"}
    %meta{name: "keybords", content:""}

    %link{rel: "stylesheet", href: "css/style.css", type: "text/css"}

  %body
    #header
      %ul
        %li
          %a{href:"#"} retour
        %li
          %span
            PassVIP
        %li
          %a{href: "#"} Valider
      %ul
        %li
          /image
        %li
          %span Trouvez dans mes contacts
          /titre

    #carnet
      %ul
        %li
          %span.nom
            Michel Dupon
          %span.adress
            adresse
          %span.activer
            On
        %li
          %span.nom
            karine lavoux
          %span.adress
            adresse
          %span.activer
            On

    #footer
      %ul
        %li
          %input.button.message{type: "button", name: "message", onclick:"javscript:windows.open()"}
        %li
          %input.button.carte{type: "button", name: "cartes", onclick: "javascript:windows.open()"}
        %li
          %input.button.compte{type: "button", name: "compte", onclick: "javascript:windows.open()"}
        %li
          %input.button.lieu{type: "button", name: "lieu", onclick: "javascript:windows.open()"}
        %li
          %input.button.scan{type: "button", name: "scan", onclick: "javascript:windows.open()"}
