!!! Strict
%html{xmlns: "http://www.w3.org/1999/xhtml", lang: "fr", "xml:lang" => "fr"}
  %head
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}
    %meta{name: "title", content: "iphone"}
    %meta{name: "autor", content: "Soumia ADJIR"}
    %meta{name: "description", content: "un design iphone"}
    %meta{name: "keybords", content:""}

    %link{rel: "stylesheet", href: "css/style.css", type: "text/css"}

  %body
    #header
      %ul
        %li
          /image
        %li
          /titre

    #carnet
      %ul
        %li
          %span.nom
            Michel Dupon
          %span.adress
            adresse
          %span.activer
            On
        %li
          %span.nom
            karine lavoux
          %span.adress
            adresse
          %span.activer
            On

    #footer
      /image
