*
  margin: 0
  padding: 0

html
  body
    overflow: hidden
    background-image: url('../documentInfuze/background.jpg')

    #header
      margin: 10px
      width: 400px
      clear: both

      ul
        margin: 10px 0px
        list-style: none
        float: left
      #pass
        line-height: 2em
        background:
          image: url('../documentInfuze/top_noir.jpg')
          repeat: no-repeat
        li
          display: inline
          float: left
          margin: 0px 10px
        a
          text-decoration: none
          float: left
          cursor: pointer
        span
          margin: 0 10px 0 10px
          padding: 1px 8px 5px 18px
          position: relative
          float: left

        .retour
          width: 100px
          height: 64px
          background:
            image: url('../documentInfuze/bouton_retour.png')
            repeat: no-repeat


        .valider
          width: 127px
          height: 64px
          background:
            image: url('../documentInfuze/bouton_valider.png')
            repeat: no-repeat


    .class
      margin: 0 auto
      position: relative
      clear: both
      width: 400px

    #carnet
      float: left
      margin: 10px
      clear: both

      ul
        li
          border-radius: 30px
          box-shadow: 2px 2px 2px grey
          background:
            image: url('../documentInfuze/fond_coordonee.jpg')
            repeat: no-repeat

          list-style: none
          text-align: center
          line-height: 0.75em
          float: left
          width: 400px
          clear: both
          margin:
            bottom: 3px
            top: 3px

          span
            padding: 2px
            margin: 3px
          .adress
            line-height: 0.5em
            width: 200px
            display: table

          .nom
            line-height: 0.5em
            width: 200px
            display: table
            color: #6495ED
            font-weight: bold
            font-size: 0.90em

          .activer
            float: right
            background:
              image: url('../documentInfuze/bouton_trouver_on.png')
              repeat: no-repeat
            width: 151px
            height: 50px
    #footer
      margin: 10px
      width: 400px
      position: absolute
      ul
        background:
          image: url("../documentInfuze/footer.png")
          repeat: no-repeat
        li
          list-style: none
          text-align: center
          display: inline

          .button
            width: 76px
