@font-face:
  font-family: "segoepr"
  src: url("../documentInfuze/segoesc.ttf")

*
  margin: 0
  padding: 0

html
  body
    background-image: url('../documentInfuze/background.jpg')

    #header
      margin: 2px 10px
      width: 400px
      clear: both

      ul
        list-style: none
        float: left
        width: 400px
      #pass
        height: 60px
        background:
          image: url('../documentInfuze/top_noir.png')
          repeat: no-repeat
        li
          display: inline
          float: left
          margin:
            bottom: 0px
            left: 10px
            top: 7px
          list-style: none
        a
          text-decoration: none
          float: left
          cursor: pointer
          text-decoration: none
          position: absolute
          display: block
          margin: 0
          padding: 0
          text-indent: -5000px

        span
          margin: 0 10px 0 10px
          padding: 9px 7px 3px 18px
          position: relative
          float: left

        .vip
          left: 105px
          color: #fff
          font-size: 1.3em
          &:after
            content: "VIP"
            font-weight: bold

        .retour
          width: 100px
          height: 64px
          background:
            image: url('../documentInfuze/bouton_retour.png')
            repeat: no-repeat

        .valider
          width: 127px
          height: 64px
          left: 294px
          background:
            image: url('../documentInfuze/bouton_valider.png')
            repeat: no-repeat

      #popup
        width: 400px
        line-height: 2em
        li:nth-child(1)
          line-height: 64px
        li:nth-child(2)
          line-height: 49px
        li
          width: 400px
          color: #fff
          font-size: 1.1em


          span
            display: inline-block
          &:nth-child(1)
            padding: 0 0 0 90px
            float: left
            background:
              image: url("../documentInfuze/contact_icon.png")
              repeat: no-repeat
              position: 10px 3px
          &:nth-child(2)
            text-indent: -5000px
            float: left
            background:
              image: url("../documentInfuze/selection.png")
              repeat: no-repeat


    .class
      margin: 0 10px
      position: relative
      clear: both
      width: 400px

      .etape
        clear: both
        font-size: 20px
        font-weight: bold
        width: 395px
        height: 30px
        line-height: 1.8em
        text-align: center
        background:
          image: url("../documentInfuze/bar_blanche.png")
          repeat: no-repeat

      .slogan
        text-align: center
        color: grey
        font-size: 20px
        font-weight: bold
        line-height: 2em

      .bon_plan
        width: 350px
        height: 50px
        position: relative
        left: 105px
        height: 100px
        background:
          image: url("../documentInfuze/accroche.png")
          repeat: no-repeat

      #Etape_inscription
      #formulaire_reconnexion
        span
          line-height: 1.2em
          color: #fff

        .complement
          background-color: #fff
          border-radius: 10px
          margin-bottom: 15px
          div
            width: 380px
            display: block
            height: 41px
            input
              border: none
              margin:
                left: 15px
                top: 5px

              width: 290px
              height: 35px
        span
          a
            color: #fff
        .validation
          div
            margin:
              top: 15px
              left: 17px
              bottom: 15px

      #formulaire_inscription
        width: 395px
        .genre
          height: 50px
          margin:
            bottom: 10px
            top: 10px
          input
            width: 140px
            float: left
            left: 57px
            position: relative

            &:nth-child(1)
              background:
                image: url("../documentInfuze/femme.png")
                repeat: no-repeat
            &:nth-child(2)
              background:
                image: url("../documentInfuze/homme.png")
                repeat: no-repeat

        .information
          height: 97px
          background:
            image: url("../documentInfuze/formulaire.png")
            repeat: no-repeat
          margin-bottom: 16px
          border-radius: 10px

          input
            width: 290px
            height: 40px
            float: left
            left: 57px
            border: none
            margin:
              bottom: 2px
              top: 4px
              left: 94px
        .complement
          background-color: #fff
          border-radius: 10px
          margin-bottom: 15px
          div
            width: 380px
            display: block
            height: 41px
            input
              border: none
              margin:
                left: 95px
                top: 5px

              width: 290px
              height: 35px
            &:nth-child(1)
              background:
                image: url("../documentInfuze/contact.png")
                repeat: no-repeat
            &:nth-child(2)
              background:
                image: url("../documentInfuze/password.png")
                repeat: no-repeat
            &:nth-child(3)
              background:
                image: url("../documentInfuze/birthday.png")
                repeat: no-repeat
            &:nth-child(4)
              background:
                image: url("../documentInfuze/loupe.png")
                repeat: no-repeat
            &:nth-child(5)
              border-radius: 0 0 0 10px
              background:
                image: url("../documentInfuze/telephone.png")
                repeat: no-repeat

        .validation
          div
            margin:
              top: 5px
              left: 17px
          span
            margin-left: 17px
            color: #fff
            a
              text-decoration: none
              font-weight: bold
              color: #fff

    #carnet
      float: left
      margin: 0px 10px
      clear: both
      height: auto
      padding-bottom: 5px
      background: #FFF

      ul
        li:last-child
          margin-bottom: 3px

        li
          background:
            image: url('../documentInfuze/fond_coordonee.png')
            repeat: no-repeat
          list-style: none
          text-align: center
          float: left
          width: 400px
          clear: both
          div
            height: 50px
            background:
              image: url("../documentInfuze/bouton_on.png")
              repeat: no-repeat
              position: 255px 4px
          span
            padding: 2px
            margin: 3px
          .adress
            line-height: 0.5em
            width: 200px
            float: left

          .nom
            line-height: 0.5em
            width: 200px
            color: #6495ED
            font-weight: bold
            font-size: 0.90em
            float: left

    #banniere
      height: 280px
      width: 400px
      margin-left: 10px
      clear: both
      background:
        image: url("../documentInfuze/connexion.png")
        repeat: no-repeat

    #connexion
      width: 400px
      clear: both
      height: 250px
      margin:
        left: 10px
      background:
        image: url("../documentInfuze/fond_connexion.png")
        repeat: no-repeat
      ul
        list-style: none

        li
          clear: both
          width: 400px
          height: 65px
          padding-top: 32px
          margin-left: 22px

          a
            text-decoration: none

          div
            height: 65px
            text-indent: -5000px

        li:nth-child(1)
          div
            background:
              image: url("../documentInfuze/bouton_facebook.png")
              repeat: no-repeat

        li:nth-child(2)
          padding-top: 5px
          div
            background:
              image: url("../documentInfuze/bouton_inscrir_connexion.png")
              repeat: no-repeat

        li:last-child
          padding-top: 5px
          div
            background:
              image: url("../documentInfuze/bouton_connecter.png")
              repeat: no-repeat
    #footer
      margin: 0px 10px
      width: 400px
      clear: both
      float: left
      height: 70px
      background:
        image: url("../documentInfuze/footer.png")
        repeat: no-repeat
        position: 0px 0px
      ul
        height: 70px
        li
          list-style: none
          display: inline
          margin: 0
          padding: 0
          a
            text-decoration: none
            position: absolute
            display: block
            height: 64px
            width: 80px
            margin: 0
            padding: 0
          span
            text-indent: -5000px
            display: inline-block
        .carte
          a
            left: 86px
        .compte
          a
            left: 167px
        .lieu
          a
            left: 247px
        .scan
          a
            left: 329px
