*
  margin: 0
  padding: 0

html
  body
    background-image: url('../documentInfuze/background.jpg')

    #header
      margin: 2px 10px
      width: 400px
      clear: both

      ul
        list-style: none
        float: left
        width: 400px
      #pass
        height: 60px
        background:
          image: url('../documentInfuze/top_noir.png')
          repeat: no-repeat
        li
          display: inline
          float: left
          margin:
            bottom: 0px
            left: 10px
            top: 7px
          list-style: none

        a
          text-decoration: none
          float: left
          cursor: pointer
          text-decoration: none
          position: absolute
          display: block
          margin: 0
          padding: 0
          text-indent: -5000px

        span
          margin: 0 10px 0 10px
          padding: 9px 7px 3px 18px
          position: relative
          float: left

        .vip
          left: 105px
          color: #fff
          font-size: 1.3em
          &:after
            content: "VIP"
            font-weight: bold

        .titre
          left: 70px
          color: #fff
          font-size: 1.3em

        .retour
          width: 100px
          height: 64px
          background:
            image: url('../documentInfuze/bouton_retour.png')
            repeat: no-repeat

        .valider
          width: 93px
          height: 48px
          left: 300px
          background:
            image: url('../documentInfuze/bouton_valider.png')
            repeat: no-repeat

        .modifier
          width: 93px
          height: 48px
          left: 290px
          background:
            image: url('../documentInfuze/bouton_modifier.png')
            repeat: no-repeat

        .ajouter
          width: 120px
          height: 48px
          left: 272px
          background:
            image: url('../documentInfuze/bouton_ajout_carte.png')
            repeat: no-repeat
            position: 0px 5px

    .class
      margin: 0 10px
      position: relative
      clear: both
      width: 400px

      #popup
        width: 400px
        list-style: none

        li:nth-child(1)
          line-height: 71px

        li:nth-child(2)
          line-height: 49px

        li
          width: 400px
          color: #fff
          font-size: 1.1em

          span
            display: inline-block

          &:nth-child(1)
            padding-left: 90px
            float: left
            background:
              image: url("../documentInfuze/contact_icon.png")
              repeat: no-repeat
              position: 20px 6px
              height: 75px

          &:nth-child(2)
            text-indent: -5000px
            float: left
            background:
              image: url("../documentInfuze/selection.png")
              repeat: no-repeat

      .etape
        clear: both
        font-size: 20px
        font-weight: bold
        width: 399px
        height: 30px
        line-height: 1.8em
        text-align: center
        background:
          image: url("../documentInfuze/bar_blanche.png")
          repeat: no-repeat

      .slogan,
      .slogan2,
      .slogan3
        color: #fff
        font-size: 20px
        font-weight: bold
        line-height: 2em

      .slogan
        text-align: center

      .slogan2
        background:
          image: url("../documentInfuze/fleche_selection.png")
          repeat: no-repeat
          position: 277px 6px

      .slogan3
        height: 60px
        background:
          image: url("../documentInfuze/fleche_mot.png")
          repeat: no-repeat
          position: 110px 7px

        span
          float: right

      .bon_plan
        width: 350px
        height: 50px
        position: relative
        left: 105px
        height: 100px
        background:
          image: url("../documentInfuze/accroche.png")
          repeat: no-repeat

      //#Etape_inscription

      #formulaire_reconnexion
        float: left

        span
          line-height: 1.2em
          color: #fff

        .complement
          background-color: #fff
          border-radius: 10px
          margin-bottom: 15px

          div
            width: 380px
            display: block
            height: 41px

            input
              border: none
              margin:
                left: 15px
                top: 5px
              width: 290px
              height: 35px
        span

          a
            color: #fff

        .validation

          div
            margin:
              top: 15px
              left: 17px
              bottom: 15px

      #formulaire_inscription
        width: 395px
        .genre
          height: 50px
          margin:
            bottom: 10px
            top: 10px

          input
            width: 140px
            float: left
            left: 57px
            position: relative

            &:nth-child(1)
              background:
                image: url("../documentInfuze/femme.png")
                repeat: no-repeat

            &:nth-child(2)
              background:
                image: url("../documentInfuze/homme.png")
                repeat: no-repeat

        .information
          height: 97px
          background:
            image: url("../documentInfuze/formulaire.png")
            repeat: no-repeat
          margin-bottom: 16px
          border-radius: 10px

          input
            width: 290px
            height: 40px
            float: left
            left: 57px
            border: none
            margin:
              bottom: 2px
              top: 4px
              left: 94px

        .complement
          background-color: #fff
          border-radius: 10px
          margin-bottom: 15px

          div
            width: 380px
            display: block
            height: 41px

            input
              border: none
              margin:
                left: 95px
                top: 5px
              width: 290px
              height: 35px

            &:nth-child(1)
              background:
                image: url("../documentInfuze/contact.png")
                repeat: no-repeat

            &:nth-child(2)
              background:
                image: url("../documentInfuze/password.png")
                repeat: no-repeat

            &:nth-child(3)
              background:
                image: url("../documentInfuze/birthday.png")
                repeat: no-repeat

            &:nth-child(4)
              background:
                image: url("../documentInfuze/loupe.png")
                repeat: no-repeat

            &:nth-child(5)
              border-radius: 0 0 0 10px
              background:
                image: url("../documentInfuze/telephone.png")
                repeat: no-repeat

        .validation

          div
            margin:
              top: 5px
              left: 17px

          span
            margin-left: 17px
            color: #fff

            a
              text-decoration: none
              font-weight: bold
              color: #fff

      #message

        ul
          list-style: none

          li
            background:
              image: url('../documentInfuze/fond_coordonee.png')
              repeat: no-repeat
            height: 70px

            div
              float: left
              position: relative
              background:
                image: url('../documentInfuze/.png')
                repeat: no-repeat

              div
                float: left
                left: 95px
                width: 290px
                height: 70px
                background:
                  image: url('../documentInfuze/fleche_no_active.png')
                  repeat: no-repeat
                  position: 230px 22px

                h3
                  background-color: #3366CC
                  color: #fff
                  display: inline

                .soustitre
                  font-weight: bold
                  clear: both
                  width: 300px
                  line-height: 4em

      #carte
        width: 375px
        margin-top: -12px
        float: left

        ul
          list-style: none

          li
            border-radius: 20px 20px 0px 0px

            background:
              image: url('../documentInfuze/fond_coordonee.png')
              repeat: no-repeat
            height: 70px
            margin:
              bottom: 10px

            div
              height: 70px
              border:
                bottom: solid #fff

              div
                margin-left: 95px
                width: 273px
                height: 70px
                background:
                  image: url('../documentInfuze/fleche_no_active.png')
                  repeat: no-repeat
                  position: 245px 22px

                .soustitre
                  color: #000
                  font-weight: bold
                  font-size: 20px
                  line-height: 3em

      #profil
        width: 400px
        float: left

        ul
          list-style: none

          li
            background:
              image: url('../documentInfuze/fond_coordonee.png')
              repeat: no-repeat
            height: 70px
            margin:
              bottom: 1px
              top: 1px

            div
              text-indent: 15px
              width: 400px
              height: 70px
              background:
                image: url('../documentInfuze/fleche_no_active.png')
                repeat: no-repeat
                position: 376px 26px

              a
                text-decoration: none
                position: absolute
                display: block
                height: 64px
                width: 400px
                margin: 0
                padding: 0

                .soustitre
                  color: #000
                  font-weight: bold
                  font-size: 17px
                  line-height: 4em

      #recherche
        width: 400px
        height: 53px
        margin:
          bottom: 10px
        background:
          image: url('../documentInfuze/fond_recherche.png')
          repeat: no-repeat

        input
          display: inline

          &:nth-child(1)
            text-indent: 45px
            font-size: 14px
            background:
              image: url("../documentInfuze/icon_recherche.png")
              repeat: no-repeat
              position: 10px 8px
            border: none
            border-radius: 20px
            box-shadow: 1px 3px 4px #707070 inset
            width: 375px
            height: 38px
            margin:
              left: 10px
              top: 7px

          &:nth-child(2)
            float: left
            left: 342px
            top: -32px
            position: relative

      #alphabet
        width: 20px
        height: 335px
        float: right
        background:
          image: url("../documentInfuze/liste_alphabetique.png")
          repeat: no-repeat

      #content
        width: 400px

        .icon
          height: 100px
          margin:
            top: 20px
            bottom: 5px
          background:
            image: url("../documentInfuze/fond_parainage.png")
            repeat: no-repeat

          a
            text-decoration: none
            float: left
            text-decoration: none
            text-indent: -5000px
            width: 400px
            height: 90px
            background:
              image: url("../documentInfuze/parainage.png")
              repeat: no-repeat
              position: 14px 10px

        .choix
          background: inherit
          width: 400px
          margin:
            bottom: 3px

          ul
            list-style: none
            background:
              image: url('../documentInfuze/fond_coordonee.png')
              repeat: no-repeat

            li
              background-position: 6px 6px
              height: 62px

              div
                height: 50px
                line-height: 3.5em
                background:
                  image: url("../documentInfuze/fleche.png")
                  repeat: no-repeat
                  position: 370px 18px

                span
                  text-align: center
                  display: inline-block
                  font-size: 15px
                  font-weight: bold
                  margin-left: 65px

          &:nth-child(1)

            ul

              li
                background:
                  image: url('../documentInfuze/icon_facebook.png')
                  repeat: no-repeat

          &:nth-child(2)

            ul

              li
                background:
                  image: url('../documentInfuze/ico_contact.png')
                  repeat: no-repeat

          &:nth-child(3)

            ul

              li
                background:
                  image: url('../documentInfuze/courier.png')
                  repeat: no-repeat

    #Etape_choix

      div
        width: 400px
        margin:
          bottom: 3px

        ul
          list-style: none
          background:
            image: url('../documentInfuze/fond_coordonee.png')
            repeat: no-repeat

          li
            background-position: 8px 3px

            div
              height: 50px
              background:
                image: url("../documentInfuze/bouton_on.png")
                repeat: no-repeat
                position: 293px 7px

              span
                text-align: center
                display: inline-block
                font-size: 20px
                font-weight: bold
                line-height: 2.6em
                margin-left: 65px

        &:nth-child(1)

          ul

            li
              background:
                image: url('../documentInfuze/vigniette_resto.png')
                repeat: no-repeat

        &:nth-child(2)

          ul

            li
              background:
                image: url('../documentInfuze/vigniette_achat.png')
                repeat: no-repeat

        &:nth-child(3)

          ul

            li
              background:
                image: url('../documentInfuze/vigniette_sante.png')
                repeat: no-repeat

        &:nth-child(4)

          ul

            li
              background:
                image: url('../documentInfuze/valider_services.png')
                repeat: no-repeat

        &:nth-child(5)

          ul

            li
              background:
                image: url('../documentInfuze/vigniette_auto.png')
                repeat: no-repeat

        &:nth-child(6)

          ul

            li
              background:
                image: url('../documentInfuze/vigniette_hotel.png')
                repeat: no-repeat

        &:nth-child(7)

          ul

            li
              background:
                image: url('../documentInfuze/vigniette_maison.png')
                repeat: no-repeat


    #carnet
      float: left
      clear: both
      height: auto
      padding-bottom: 5px
      background: #FFF

      ul
        li:last-child
          margin-bottom: 3px

        li
          background:
            image: url('../documentInfuze/fond_coordonee.png')
            repeat: no-repeat
          list-style: none
          text-align: center
          float: left
          width: 400px
          clear: both

          div
            height: 50px
            background:
              image: url("../documentInfuze/bouton_on.png")
              repeat: no-repeat
              position: 293px 7px

          span
            padding: 2px
            margin: 3px

          .adress
            line-height: 0.5em
            width: 200px
            float: left

          .nom
            line-height: 0.5em
            width: 200px
            color: #6495ED
            font-weight: bold
            font-size: 0.90em
            float: left

    #banniere
      height: 280px
      width: 400px
      margin-left: 10px
      clear: both
      background:
        image: url("../documentInfuze/connexion.png")
        repeat: no-repeat

    #connexion
      width: 400px
      clear: both
      background:
        image: url("../documentInfuze/fond_connexion.png")
        repeat: no-repeat

      ul
        list-style: none

        li
          clear: both
          width: 400px
          height: 65px
          padding-top: 32px
          margin-left: 22px

          a
            text-decoration: none

          div
            height: 65px
            text-indent: -5000px

        li:nth-child(1)

          div
            background:
              image: url("../documentInfuze/bouton_facebook.png")
              repeat: no-repeat

        li:nth-child(2)
          padding-top: 5px

          div
            background:
              image: url("../documentInfuze/bouton_inscrir_connexion.png")
              repeat: no-repeat

        li:last-child
          padding:
            top: 5px
            bottom: 10px

          div
            background:
              image: url("../documentInfuze/bouton_connecter.png")
              repeat: no-repeat

    #footer
      width: 400px
      clear: both
      float: left
      height: 70px
      background:
        image: url("../documentInfuze/footer.png")
        repeat: no-repeat
        position: 0px 0px

      ul
        height: 70px

        li
          list-style: none
          display: inline
          margin: 0
          padding: 0

          a
            text-decoration: none
            position: absolute
            display: block
            height: 64px
            width: 80px
            margin: 0
            padding: 0

          span
            text-indent: -5000px
            display: inline-block

        .carte

          a
            left: 86px

            &:active
              background:
                image: url("../documentInfuze/icon_carte.png")
                repeat: no-repeat
                position: 5px 2px

        .compte

          a
            left: 167px

            &:active
              background:
                image: url("../documentInfuze/icon_contact.png")
                repeat: no-repeat
                position: 5px 2px

        .lieu

          a
            left: 247px

            &:active
              background:
                image: url("../documentInfuze/.png")
                repeat: no-repeat
                position: 5px 2px

        .scan

          a
            left: 329px

            &:active
              background:
                image: url("../documentInfuze/icon_scan.png")
                repeat: no-repeat

        .message

          a

            &:active
              background:
                image: url("../documentInfuze/icon_message.png")
                repeat: no-repeat
                position: 5px 2px
