$width_ecran: 320px
$height_ecran: 480px
$moitier_taille: $width_ecran/2
$height_image_dashboard: 140px
$width_image_dashboard: $width_ecran/2
$place_title: ($height_ecran/3)*2
$height_heider: $height_ecran * 0.095
