!!! Strict
%html{xmlns: "http://www.w3.org/1999/xhtml", lang: "fr", "xml:lang" => "fr"}
  %head
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}
    %meta{name: "autor", content: "Soumia ADJIR"}
    %meta{name: "description", content: "Une avanche d'info sur les montagnes"}
    %meta{name: "keybords", content:""}

    %link{rel: "stylesheet", href: "../css/style.css", type: "text/css"}

  %body
    #header
      %ul#pass
        %li
          %span.vip
            Pass
        %li
          %a.valider{href: "#"}
            %span valider

    .class
      .etape
        %span
          Étape 2/3
      .slogan2
        %span
          Sélectionnez vos favoris
      #Etape_choix
        %div.choix
          %div
            %ul
              %li
                %div
                  %span.nom
                    Restaurants
          %div
            %ul
              %li
                %div
                  %span.nom
                    Vente à emporter

          %div
            %ul
              %li
                %div
                  %span.nom
                    Beauté et bien-être

          %div
            %ul
              %li
                %div
                  %span.nom
                    Service

          %div
            %ul
              %li
                %div
                  %span.nom
                    Auto-moto

          %div
            %ul
              %li
                %div
                  %span.nom
                    Hotellerie

          %div
            %ul
              %li
                %div
                  %span.nom
                    Immobilier
