!!! Strict
%html{xmlns: "http://www.w3.org/1999/xhtml", lang: "fr", "xml:lang" => "fr"}
  %head
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}
    %meta{name: "autor", content: "Soumia ADJIR"}
    %meta{name: "description", content: "Une avanche d'info sur les montagnes"}
    %meta{name: "keybords", content:""}

    %link{rel: "stylesheet", href: "../css/style.css", type: "text/css"}

  %body
    #header
      %ul#pass
        %li
          %a.retour{href: "#"}
            %span retour
        %li
          %span.titre
            Mon compte

    .class
      #profil
        %ul
          %li
            %div
              %a{href:"inscription.html"}
                %span.soustitre
                  Mon profil

          %li
            %div
              %a{href:"choix_favoris.html"}
                %span.soustitre
                  Mes favoris

          %li
            %div
              %a{href:"notification.html"}
                %span.soustitre
                  Paramètres de notification

          %li
            %div
              %a{href:"cartes.html"}
                %span.soustitre
                  Mes cartes de fidélité

          %li
            %div
              %a{href:"#"}
                %span.soustitre
                  Mes codes promo

          %li
            %div
              %a{href:"partage.html"}
                %span.soustitre
                  Partage facebook

          %li
            %div
              %a{href:"condition_utilisation.html"}
                %span.soustitre
                  Conditions générales d'utilisation

      #footer
        %ul
          %li.message
            %a{href: "message.html"}
              %span Message
          %li.carte
            %a{href: "cartes.html"}
              %span Carte
          %li.compte
            %a{href: "compte.html"}
              %span Compte
          %li.lieu
            %a{href: "#"}
              %span Lieu
          %li.scan
            %a{href: "#"}
              %span Scan
