!!! Strict
%html{xmlns: "http://www.w3.org/1999/xhtml", lang: "fr", "xml:lang" => "fr"}
  %head
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}
    %meta{name: "title", content: "montagne-neige"}
    %meta{name: "autor", content: "Soumia ADJIR"}
    %meta{name: "description", content: "Une avanche d'info sur les montagnes"}
    %meta{name: "keybords", content:""}

    %link{rel: "stylesheet", href: "css/style.css", type: "text/css"}

  %body
    #header
      %ul#pass
        %li
          %span.vip
            Pass
    .class
      #banniere
      #connexion
        %ul
          %li
            %a{href: "#"}
              %div
                se connecter a facebook
          %li
            %a{href: "pages/inscription.html"}
              %div
                s'inscrire
          %li
            %a{href: "pages/reconnexion.html"}
              %div
                se connecter
