!!! Strict
%html{xmlns: "http://www.w3.org/1999/xhtml", lang: "fr", "xml:lang" => "fr"}
  %head
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}
    %meta{name: "autor", content: "Soumia ADJIR"}
    %meta{name: "description", content: "Une avanche d'info sur les montagnes"}
    %meta{name: "keybords", content:""}

    %link{rel: "stylesheet", href: "../css/style.css", type: "text/css"}

  %body
    #header
      %ul#pass
        %li
          %span.vip
            Pass

    .class
      .etape
        %span
          Étape 1/3
      #Etape_inscription
        %form
          %div.genre
            %div
              %input{type: "radio", name: "sexe", value: "femme"}
            %div
              %imput{type: "radio", name: "sexe", value: "homme"}
          %div.information
            %div
              %input{type: "text", value: "nom"}
            %div
              %input{type: "text", value: "prenom"}
          %div.complement
            %div
              %input{type: "email", value: "Identifiant (email)"}
            %div
              %input{type: "password", value: "Mot de passe"}
            %div
              %input{type: "date", value: "Date de naissance"}
            %div
              %input{type: ""}
            %div
              %input{type: "tel", value: "Téléphone (facultatif)"}
          %div.validation
            %div
              %input{type: "image", src: "../documentInfuze/valider_insription.png", value: "submit"}
            %span
              Encliquant sur le bouton "Valider", je confirme avoir pris connaissance des condition générales d'utilisation (
              %a{href: "#"}
                plus d'infos
              )
