!!! Strict
%html{xmlns: "http://www.w3.org/1999/xhtml", lang: "fr", "xml:lang" => "fr"}
  %head
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}
    %meta{name: "autor", content: "Soumia ADJIR"}
    %meta{name: "description", content: "Une avanche d'info sur les montagnes"}
    %meta{name: "keybords", content:""}

    %link{rel: "stylesheet", href: "../css/style.css", type: "text/css"}

  %body
    #header
      %ul#pass
        %li
          %span.vip
            Pass

    .class
      .etape
        %span
          étape 3/3
      .slogan3
        %span
          Invitez vos Amis !

      #content
        %div.choix
          %ul
            %li
              %div
                %span
                  Trouver sur Facebook

        %div.choix
          %ul
            %li
              %div
                %span
                  Trouver dans mes contacts
        %div.choix
          %ul
            %li
              %div
                %span
                  Saisissez les emails de vos amis

        %div.icon
          %a{href: "#"}
            %span
              parainage

    #footer
      %ul
        %li.message
          %a{href: "message.html"}
            %span Message
        %li.carte
          %a{href: "carte.html"}
            %span Carte
        %li.compte
          %a{href: "compte.html"}
            %span Compte
        %li.lieu
          %a{href: "#"}
            %span Lieu
        %li.scan
          %a{href: "#"}
            %span Scan
