!!! Strict
%html{xmlns: "http://www.w3.org/1999/xhtml", lang: "fr", "xml:lang" => "fr"}
  %head
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}
    %meta{name: "autor", content: "Soumia ADJIR"}
    %meta{name: "description", content: "Une avanche d'info sur les montagnes"}
    %meta{name: "keybords", content:""}

    %link{rel: "stylesheet", href: "../css/style.css", type: "text/css"}

  %body
    #header
      %ul#pass
        %li
          %a.retour{href: "#"}
            %span retour
        %li
          %span.titre
            Mes messages
        %li
          %a.modifier{href: "#"}
            %span modifier
    .class
      #message
        %ul
          %li
            %div
              %div
                %h3
                  titre
                %span.soustitre
                  sous titre
                %span
                  texte

          %li
            %div
              %div
                %h3
                  titre
                %span.soustitre
                  sous titre
                %span
                  texte
          %li
            %div
              %div
                %h3
                  titre
                %span.soustitre
                  sous titre
                %span
                  texte

      #footer
        %ul
          %li.message
            %a{href: "#"}
              %span Message
          %li.carte
            %a{href: "#"}
              %span Carte
          %li.compte
            %a{href: "#"}
              %span Compte
          %li.lieu
            %a{href: "#"}
              %span Lieu
          %li.scan
            %a{href: "#"}
              %span Scan
