!!! Strict
%html{xmlns: "http://www.w3.org/1999/xhtml", lang: "fr", "xml:lang" => "fr"}
  %head
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}
    %meta{name: "autor", content: "Soumia ADJIR"}
    %meta{name: "description", content: "Une avanche d'info sur les montagnes"}
    %meta{name: "keybords", content:""}

    %link{rel: "stylesheet", href: "../css/style.css", type: "text/css"}

  %body
    #header
      %ul#pass
        %li
          %a.retour{href: "#"}
            %span valider

        %li
          %span.titre
            Notifications

        %li
          %a.valider{href: "#"}
            %span valider

    .class
      .temps
        %div
          %span
            1 fois / jour

        %div
          %span
            1 fois / semaine

        %div
          %span
            1 fois / mois

      .slogan2
        Activez / Désactivez

      #Etape_choix_notif
        %div.choix
          %div
            %ul
              %li
                %div
                  %span.nom
                    Restaurants

          %div
            %ul
              %li
                %div
                  %span.nom
                    Vente à emporter

          %div
            %ul
              %li
                %div
                  %span.nom
                    Beauté et bien-être

        %span.enseigne
          Enseignes :

        %div
          %ul
            %li
              %div
                %span.nom
                  Nom de l'enseigne

        %div
          %ul
            %li
              %div
                %span.nom
                  Nom de l'enseigne

        %div.notif
          %ul
            %li
              %div
                %span
                  Ne recevoir aucune notification
