!!! Strict
%html{xmlns: "http://www.w3.org/1999/xhtml", lang: "fr", "xml:lang" => "fr"}
  %head
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}
    %meta{name: "autor", content: "Soumia ADJIR"}
    %meta{name: "description", content: "Une avanche d'info sur les montagnes"}
    %meta{name: "keybords", content:""}

    %link{rel: "stylesheet", href: "../css/style.css", type: "text/css"}

  %body
    #header
      %ul#pass
        %li
          %a.retour{href: "#"}
            %span retour

        %li
          %span.titre
            Partage

    .class

      .slogan.lier
        Liez votre compte Facebook

      #Etape_lier_compte
        %div
          %div.facebook
          %p
            En liant votre compte Facebook avec votre compte PassVIP, vous pourrez partager tous les bons plans, les lieux qui vous intéressent et les meilleures offres exclusives situées à proximité avec vos amis Facebook.
          %div.bouton
            %a
              %span
                Lier mon compte Facebook

      #footer
        %ul
          %li.message
            %a{href: "message.html"}
              %span Message
          %li.carte
            %a{href: "carnet_carte.html"}
              %span Carte
          %li.compte
            %a{href: "compte.html"}
              %span Compte
          %li.lieu
            %a{href: "message.html"}
              %span Lieu
          %li.scan
            %a{href: "#"}
              %span Scan
