!!! Strict
%html{xmlns: "http://www.w3.org/1999/xhtml", lang: "fr", "xml:lang" => "fr"}
  %head
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}
    %meta{name: "autor", content: "Soumia ADJIR"}
    %meta{name: "description", content: "Une avanche d'info sur les montagnes"}
    %meta{name: "keybords", content:""}

    %link{rel: "stylesheet", href: "../css/style.css", type: "text/css"}

  %body
    #header
      %ul#pass
        %li
          %a.retour{href: "#"}
            %span retour
        %li
          %span.titre
<<<<<<< HEAD
            Près d'ici
=======
            Prés d'ici
>>>>>>> c87419556d506fd7dd79ff47ad487f0c0d79c671
        %li
          %a.map{href: "#"}
            %span verification

    .class
      .slogan
        %span
          Tous les bons plan près d'ici :

      #Etape_recherche
        %div.choix
          %div
            %ul
              %li
                %div
<<<<<<< HEAD
                  %a{href: "restaurant.html"}
                    %span.nom
                      Restaurants
                    %p
=======
                  %span.nom
                    Restaurants
>>>>>>> c87419556d506fd7dd79ff47ad487f0c0d79c671
          %div
            %ul
              %li
                %div
<<<<<<< HEAD
                  %a{href: "restaurant.html"}
                    %span.nom
                      Vente à emporter
                    %p
=======
                  %span.nom
                    Vente à emporter
>>>>>>> c87419556d506fd7dd79ff47ad487f0c0d79c671

          %div
            %ul
              %li
                %div
<<<<<<< HEAD
                  %a{href: "restaurant.html"}
                    %span.nom
                      Beauté et bien-être
                    %p
=======
                  %span.nom
                    Beauté et bien-être
>>>>>>> c87419556d506fd7dd79ff47ad487f0c0d79c671

          %div
            %ul
              %li
                %div
<<<<<<< HEAD
                  %a{href: "restaurant.html"}
                    %span.nom
                      Service
                    %p
=======
                  %span.nom
                    Service
>>>>>>> c87419556d506fd7dd79ff47ad487f0c0d79c671

          %div
            %ul
              %li
                %div
<<<<<<< HEAD
                  %a{href: "restaurant.html"}
                    %span.nom
                      Auto-moto
                    %p
=======
                  %span.nom
                    Auto-moto
>>>>>>> c87419556d506fd7dd79ff47ad487f0c0d79c671

          %div
            %ul
              %li
                %div
<<<<<<< HEAD
                  %a{href: "restaurant.html"}
                    %span.nom
                      Hotellerie
                    %p
=======
                  %span.nom
                    Hotellerie
>>>>>>> c87419556d506fd7dd79ff47ad487f0c0d79c671

          %div
            %ul
              %li
                %div
<<<<<<< HEAD
                  %a{href: "restaurant.html"}
                    %span.nom
                      Immobilier
                    %p
=======
                  %span.nom
                    Immobilier
>>>>>>> c87419556d506fd7dd79ff47ad487f0c0d79c671

      #footer
        %ul
          %li.message
            %a{href: "message.html"}
              %span Message
          %li.carte
            %a{href: "cartes.html"}
              %span Carte
          %li.compte
            %a{href: "compte.html"}
              %span Compte
          %li.lieu
<<<<<<< HEAD
            %a{href: "recherche.html"}
=======
            %a{href: "#"}
>>>>>>> c87419556d506fd7dd79ff47ad487f0c0d79c671
              %span Lieu
          %li.scan
            %a{href: "#"}
              %span Scan
